<section id="showcase">
  <div class="container">
    <table>
      <tr>
        <td><img class = "logo" src= {{homepageImage}} alt="showcase" height="480" width="900"></td>
        <td class="min">
          <div class="scrollable">
          <h1>{{vav | uppercase}}</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem necessitatibus temporibus ducimus alias iure tenetur magnam aut iusto minima repellendus. Temporibus itaque fugit ea odio voluptas eos nostrum optio quae.</p>
          <p>Atque molestias illum laudantium cupiditate mollitia unde ab cumque qui dolor accusamus a veritatis, iste, maiores aliquam fugiat odio cum! Sint rem delectus omnis ad exercitationem vero, ipsa odit perspiciatis.</p>
          <p>Eius nostrum voluptas, delectus molestias esse molestiae aspernatur eum laboriosam labore libero qui temporibus provident quibusdam dolor error itaque dolore voluptatibus fugit repudiandae fugiat quaerat tenetur. Provident deleniti aliquid nisi.</p>
          <p>Nobis praesentium, adipisci exercitationem esse quaerat fuga nisi asperiores mollitia repellat cum omnis placeat magni rem modi deserunt ipsa amet commodi, repudiandae aliquid illum quas a. Accusantium impedit tenetur debitis?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ea non ducimus blanditiis voluptate debitis! Saepe illo totam asperiores id autem. Nostrum sed commodi laborum illum magnam nisi id quas.</p>
          <p>Delectus consequuntur architecto non cum. Nisi provident aliquid aut quod recusandae sunt deserunt! Tenetur vitae, veritatis delectus hic deserunt harum blanditiis temporibus quos nemo ut perferendis repellendus placeat quasi dignissimos.</p>
          <p>Doloribus corporis saepe ipsam numquam labore perspiciatis est, consectetur ullam totam a culpa aliquam repellendus voluptates illo animi molestiae veritatis eaque dolorum enim quia minus delectus accusamus? Amet, vero nobis.</p>
          <p>Veniam nemo labore, ullam deleniti magnam soluta error. Dignissimos aspernatur cumque deserunt dolor omnis tempora sequi animi eos ratione, repellendus quod! Saepe a neque eius fugiat, labore repudiandae ut odit!</p>
        </div>
        </td>
      
      </tr>
    </table>

  </div>
</section>