<section id="main">
  <div class= "container" id ="aboutUs">
    <article id="main-col">
      <h1 class="page-title">ABOUT US</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum enim ad, eveniet, consequatur dolorum officiis voluptate tenetur porro placeat impedit minus, delectus vel! Accusamus velit tenetur est, aperiam libero corrupti.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus a sed ipsum harum cupiditate accusantium debitis, non minus autem excepturi voluptatibus architecto eligendi laboriosam dolores illo iure pariatur eos saepe.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptas quasi quibusdam repudiandae harum veniam, sapiente commodi quia quaerat officiis fuga rerum facere, doloribus aperiam quam consectetur, ab ut aliquid?</p>

    </article>

    <aside id="sidebar">
      <div class="dark">
      <h3>
        What we do
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quaerat, culpa provident quia veniam architecto quisquam possimus blanditiis, nobis eaque ipsa doloremque? Consequuntur debitis ipsam porro eos suscipit unde commodi.</p>
    </div>
    </aside>
  </div>
</section>