<section id="boxes">
  <div class="container" id="donation">
    <h1>CONTRIBUTE TO THE CAUSE</h1>
    <div class="box">
      <img class="paytm" src={{paytm}} alt="Paytm">
      <h3>Use your Paytm wallet</h3>
      <form>
          <input type="tel" placeholder="Enter your Number..."><br/>
          <button type = "submit">Proceed</button>
        </form>
      <ul>
          <li>Enter your registered mobile number</li>
          <li>Click on the proceed button</li>
          <li>You will receive a paytm payment link</li>
          <li>Donate and share a smile</li>
        </ul>
      </div>
     <div class="box" id ="box2">
        <img src={{netbanking}} alt="NetBanking">
        <h3>Netbanking/Card</h3>
        <p>Payment via NetBanking or<br/> your preferred Debit/Credit card is currently unavailable. <br/>
        The feature will be available soon. Thanks </p>
       </div>
       <div class="box" id="box3">
          <img src={{upi}} alt="PhonePe/UPI">
          <h3>PhonePe / Tez</h3>
          <form>
            <input type="tel" placeholder="Enter your Number..."><br/>
            <button type = "submit">Proceed</button>  
          </form>
          <ul>
              <li>Enter your registered mobile number</li>
              <li>Click on the proceed button</li>
              <li>You will receive a paytm payment link</li>
              <li>Donate and share a smile</li>
            </ul></div>
  </div>
</section>