<div class="main" id="gallery">

        <h1>A GLIPMPSE OF CHARITRAVAAN</h1>
        <hr>
        
        <h2>Charitravaan</h2>
        
        <div class="row">
          <div class="column">
            <div class="content">
              <img src="/assets/gallery1.jpeg" alt="Charitravaan Rally" style="width:100%">
              <h3>Charitravaan Rally</h3>
              <p>A rally organized by charitravaan and all the people who contribute to the cause..</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
            <img src="/assets/gallery2.jpeg" alt="Weekly Yajya" style="width:100%">
              <h3>Weekly Yajya</h3>
              <p>A glimpse of Havan done by Ghaziabad Arya Samaj every week.</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
            <img src="/assets/gallery3.jpeg" alt="Medicine distribution" style="width:100%">
              <h3>Medicine distribution</h3>
              <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
            <img src="/assets/gallery4.jpeg" alt="Blanket distribution" style="width:100%">
              <h3>Blanket distribution</h3>
              <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
          </div>
          <div class="column">
                <div class="content">
                  <img src="/assets/gallery5.jpeg" alt="Blanket distribution" style="width:100%">
                  <h3>Blanket distribution</h3>
                  <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                <img src="/assets/gallery6.jpeg" alt="Blanket distribution" style="width:100%">
                  <h3>Blanket distribution</h3>
                  <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                <img src="/assets/gallery7.jpeg" alt="Blanket distribution" style="width:100%">
                  <h3>Blanket distribution</h3>
                  <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                <img src="/assets/gallery8.jpeg" alt="Blanket distribution" style="width:100%">
                  <h3>Blanket distribution</h3>
                  <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
              </div>
        </div>
        
        <!-- END MAIN -->
        </div>
        